* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;

  a {
    text-decoration: none;
    color: #020;

    &:hover {
      color: #050;
    }

    li {
      text-align: left;
      color: black;
    }
  }
}

header {
  height: 10vh;

  background-color: yellow;
}

main {
  margin-bottom: 10.5vh;
}

footer {
  height: 10vh;

  background-color: bisque;
  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
  a + a {
    margin-left: 15px;
  }
}

.colHeight {
  height: 500px;
}
